<?xml version='1.0' encoding='utf-8'?>
<widget id="io.unityfs.gui" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UnityFS GUI</name>
    <icon src="res/icon.png" />
    <description>
        UnityFS-GUI mobile client.
    </description>
    <author email="support@unityfs.io" href="https://github.com/unityfs-js">
        unityfs-js Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="fullscreen" value="false" />
    <platform name="android">
        <preference name="StatusBarOverlaysWebView" value="false" />
    </platform>
    <preference name="LoadUrlTimeoutValue" value="120000"/>
    <preference name="Orientation" value="landscape" />
    <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>
    
    <edit-config xmlns:android="http://schemas.android.com/apk/res/android" file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:requestLegacyExternalStorage="true" />
        <application android:usesCleartextTraffic="true" />
    </edit-config>
    
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <platform name="android">
    <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
        <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    </config-file>
    </platform>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <feature name="Whitelist">
        <param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
        <param name="onload" value="true" />
    </feature>
    <preference name="EnableViewportScale" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="AndroidXEnabled" value="true" />
</widget>
